body{
    color: #231123;
}

.heading{
    text-align: center;
    margin-top: 18px;
}

.screen-container{
    background-color: #b8b8ff;
    border-radius: 20px;
    padding: 35px 60px;
    width: 65%;
    height: 36vw;
}

.board-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 7vw);
    gap: 20px; 
}

.game-container{
    background-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vw;
}

a:link, a:visited{
    color: #231123;
    text-decoration: none;
}